<div class="main">
    <div class="container">
      <div class="row ">
          <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 g-3 ">
            <div class="page">
                <div class="wrapper">
                  <div class="sidebar">
                    <ul>
                        
                        <li class="nav-item">
                            <a routerLink="/admintable" routerLinkActive="active-link">
                                <span class="icon"><i class="fas fa-desktop"></i></span>
                                <span class="item">Restaurants</span>
                            </a>
                        </li>
                        
                      <li class="nav-item">
                        <a routerLink="/adminfeedback" routerLinkActive="active-link">
                            <span class="icon"><i class="fas fa-user-friends"></i></span>
                            <span class="item">Feedback </span>
                        </a>
                    </li>
                       
                      
                      </ul>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>

