
<br><br>




<br><br><br><br>



<div class="main">
    <div class="container">
      <div class="row ">
          <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 g-3 ">
              <div class="row">
                <div class=" col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 ">
                    <app-adminnavbar></app-adminnavbar>
                  </div>
                <div class="col col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10 ">
                  
                  <div class="container " >
                      
                        
                        
                    <h1 align="center">
                      <small class="text-muted">Table Details</small>
                    </h1>
                        
                        <hr >
                        
                        
                        <table class="table" border="3">
                          <thead>
                            <tr>
                              <th scope="col">SI No</th>
                              <th scope="col">Table No</th>
                              <th scope="col">Status</th>
                              <th scope="col"><button class="btn btn-success"  routerLink="/restable" >Add table</button></th>
                     
              
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
      
                              <tr *ngFor="let i of table">
                                <th scope="row">
                                  
                                  <div >
                                    {{i.tableid}}
                                  </div>
                                </th>
                                <td>
                                  
                                  <div >
                                    {{i.tableno}}
                                  </div>
                                </td>
                                <td>
                                 
                                  <div>
                                    {{i.book}}
                                  </div>
                                </td>
                                
                                <td>
                                  <button class="btn btn-primary" (click)="unbook(i)" >unbook</button>
                                </td>
                          
                             
                            </tr>
                            
              
                          </tbody>
                        </table>     
                        
                        
                        <hr>
                        <div class="row g-3">
                          <div class="col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                            <button class="btn btn-success" routerLink="" >Logout</button>
          
                          </div>
                        </div>
                    
                
          </div>
              </div>
      </div>
  </div>
  </div>
  </div>





