
<br><br>



<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                  <table class="table" border="3">
                    <thead>
                      <tr>
                        <th scope="col">SI No</th>
                        <th scope="col">Restaurant Name</th>
                        <th scope="col">Table No</th>
                        <th scope="col">Status</th>
                        <th scope="col">View</th>
        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Zam Zam</td>
                        <td>13</td>
                        <td>Not Available</td>
                        <td><button class="btn btn-danger">View Order</button></td>
        
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Zam Zam</td>
                        <td>14</td>
                        <td>Not Available</td>
                        <td><button class="btn btn-danger">View Order</button></td>
        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Zam Zam</td>
                        <td>15</td>
                        <td>Available</td>
                        <td><button class="btn btn-success" routerLink="/restview">View Order</button></td>
        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Zam Zam</td>
                        <td>16</td>
                        <td>Not Available</td>
                        <td><button class="btn btn-danger">View Order</button></td>
        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Zam Zam</td>
                        <td>17</td>
                        <td>Available</td>
                        <td><button class="btn btn-success" routerLink="/restview">View Order</button></td>
        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Zam Zam</td>
                        <td>18</td>
                        <td>Available</td>
                        <td><button class="btn btn-success" routerLink="/restview">View Order</button></td>
        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Zam Zam</td>
                        <td>19</td>
                        <td>Not Available</td>
                        <td><button class="btn btn-danger">View Order</button></td>
        
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Zam Zam</td>
                        <td>20</td>
                        <td>Available</td>
                        <td><button class="btn btn-success" routerLink="/restview">View Order</button></td>
        
                      </tr>
        
                    </tbody>
                  </table>
        
                </div>
              </div>
        



        </div>
    </div>
</div>