
<br><br><br><br>



<div class="container">
  <div class="row">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

      <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <table class="table" border="3">
            <thead>
              <tr>
                <th scope="col">SI No</th>
                <th scope="col">Table No</th>
                <th scope="col">Status</th>
                <th scope="col">Select</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>13</td>
                <td>Available</td>
                <td><button class="btn btn-primary">Book</button></td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td>14</td>
                <td>Available</td>
                <td><button class="btn btn-primary">Book</button></td>

              </tr>
              <tr>
                <th scope="row">3</th>
                <td>15</td>
                <td>Available</td>
                <td><button class="btn btn-primary">Book</button></td>

              </tr>
              <tr>
                <th scope="row">4</th>
                <td>16</td>
                <td>Available</td>
                <td><button class="btn btn-primary">Book</button></td>

              </tr>
              <tr>
                <th scope="row">5</th>
                <td>17</td>
                <td>Available</td>
                <td><button class="btn btn-primary">Book</button></td>

              </tr>
              
          

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>